<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header" id="app">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Firebase To-Do</span>
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-button--icon" title="Log Out" *ngIf="isLoggedIn" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </button>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">To-Do</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/" *ngIf="!isLoggedIn">Login</a>
      <a class="mdl-navigation__link" routerLink="create-account" *ngIf="!isLoggedIn">Create Account</a>
      <a class="mdl-navigation__link" routerLink="todos" *ngIf="isLoggedIn">To-Dos</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
